body {
    font-family: 'Roboto', sans-serif;
}
header {
  overflow: hidden;
}

.logo {
  background: url("../images/AMdesign.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  background-position: right;
  margin-top: 8px;
  height: 100px;
}

#nav-bar {
  margin-top: 1.4em;
}

/* code from w3s but modified to suit */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(117, 250, 207);
}

li {
  display: inline;
  float: right;
  font-size: large;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #fff;
}

/* end of code from w3s*/

#hero-image {
  height: 800px;
  width: 100%;
  background: url("../images/monsterhero.jpg") no-repeat center center;
  background-size: 70%;

  @media only screen and (min-width:767px) {
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
}

#hero-outer {
  height: 800px;
  width: 100%;
  overflow: hidden;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

.text-overlay {
  font-size: 140%;
  font-weight: 500;
  color: #000;
  background-color: rgb(117, 250, 207);
  height: 175px;
  width:175px;
  padding-top: 30px;
  padding-left: 20px;
  top: 90px;
  left: 300px;
  position: absolute;
}

@media only screen and (max-width:767px){
  .text-overlay{
    display:inline-block
    
  }
}

.text-overlay-2 {
  font-size: 130%;
  font-weight: 500;
  color: #000;
  background-color: rgb(117, 250, 207);
  height: 60px;
  width:850px;
  padding-top: 10px;
  padding-left: 20px;
  bottom: 50px;
  right: 80px;
  position: absolute;
}

.here {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.here:hover {
  color: #000;
}

.about-me {
    height: 500px;
    background-color: rgb(117, 250, 207);
}

.my-photo {
    height: 400px;
    width: 100%;
    background-image: url("../images/my-photo.jpg");
    background-size: 45%;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin-top: 50px;
}

.about-info {
  height: auto;
  width: 100%;
  margin: auto;
  
}

.edu-work {
  height: 500px;
  width: 100%;
  background-color: #fff;
}

.gallery {
  clear: both;
  line-height: 0;
  column-count: 4;
  column-gap: 10px;
}

.gallery img{
  margin: 5px;
  width: 100%;
}

.footer {
  height: 200px;
  width: 100%;
  background-color: rgb(117, 250, 207);
  color: #000;
  text-align: center;
}

.fa-brands {
  padding-left: 100px;
  text-decoration: none;
  color: #fff;
  font-size: 60px;
  margin-top: 60px;
}

.contact-links h6 a {
  text-decoration: none;
  color: #000;
}

